# Apriori

In [31]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [32]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [33]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5)

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [34]:
apriori(df, min_support=0.5, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Onion, Eggs)

In [35]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Kidney Beans, Onion, Eggs)       3

In [36]:
frequent_itemsets[ (frequent_itemsets['length'] >= 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Kidney Beans, Eggs)       2

In [37]:
frequent_itemsets[ frequent_itemsets['itemsets'] == frozenset(('Eggs', 'Onion')) ]

   support       itemsets  length
6      0.6  (Onion, Eggs)       2

In [38]:
oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.DataFrame.sparse.from_spmatrix(oht_ary, columns=te.columns_)
sparse_df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,0,0,0,1,0,True,1,1,1,0,1
1,0,0,1,1,0,True,0,1,1,0,1
2,1,0,0,1,0,True,1,0,0,0,0
3,0,1,0,0,0,True,1,0,0,1,1
4,0,1,0,1,1,True,0,0,1,0,0

In [25]:
apriori(sparse_df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Kidney Beans, Onion, Eggs)

# FP Growth

In [26]:
!git clone https://github.com/DAR-DatenanalyseRehberg/DDDD_Data-Driven-Dealings-Development.git # clone repo

fatal: destination path 'DDDD_Data-Driven-Dealings-Development' already exists and is not an empty directory.

In [27]:
data = pd.read_excel('DDDD_Data-Driven-Dealings-Development/DDDD.xlsx')
data.head()

   SalesDate  SalesValue  SalesAmount  Customer  SalesTransactionID  SalesItem
0 2018-09-28      8280.0           10         0                   0          0
1 2018-09-28      7452.0           10         0                   0          0
2 2019-04-23     21114.0           30         0                   1          0
3 2019-04-23      7038.0           10         0                   1          1
4 2019-04-23      7000.0            2         0                   1          2

In [ ]:
%%capture
!sudo apt-get update --fix-missing

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
#!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

!mv spark-3.0.0-bin-hadoop3.2.tgz sparkkk
!tar xf sparkkk
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('fpgrowth') \
    .getOrCreate()

spark

In [29]:
from google.colab import files
from pyspark.sql import functions as F
from pyspark.ml.fpm import FPGrowth
import pandas


spark_data = spark.createDataFrame(data)
basket_data = spark_data.dropDuplicates(['SalesTransactionID', 'SalesItem']).sort('SalesTransactionID')
basket_data = basket_data.groupBy("SalesTransactionID").agg(F.collect_list("SalesItem")).sort('SalesTransactionID')

# FP Growth - metode mining itemsets yang sering muncul

In [30]:
fp_Growth = FPGrowth(itemsCol="collect_list(SalesItem)", minSupport=0.005, minConfidence=0.005) 
model = fp_Growth.fit(basket_data)

# Menampilkan Itemsets yang sering muncul

In [39]:
model.freqItemsets.show()
items = model.freqItemsets

+-------------------+----+
|              items|freq|
+-------------------+----+
|              [257]| 432|
|               [20]|2837|
|              [104]|2417|
|          [104, 20]| 981|
|             [1491]| 432|
|              [110]|2172|
|         [110, 104]| 745|
|     [110, 104, 20]| 476|
|          [110, 20]| 765|
|             [1495]| 431|
|              [103]|2123|
|         [103, 110]| 671|
|    [103, 110, 104]| 445|
|[103, 110, 104, 20]| 348|
|     [103, 110, 20]| 444|
|         [103, 104]| 885|
|     [103, 104, 20]| 572|
|          [103, 20]| 861|
|              [179]| 431|
|               [67]|1975|
+-------------------+----+
only showing top 20 rows

# Menampilkan Association Rules yang dibuat

In [47]:
model.associationRules.show()
rules = model.associationRules

+-------------------+----------+-------------------+------------------+
|         antecedent|consequent|         confidence|              lift|
+-------------------+----------+-------------------+------------------+
|[98, 312, 108, 104]|     [103]| 0.8617363344051447|19.656355972634735|
|              [128]|     [156]|0.26264800861141013| 9.791372182460467|
|              [128]|     [108]|0.26695371367061355| 7.811178572938448|
|              [128]|     [110]|0.26695371367061355|5.9518879089379055|
|              [128]|      [67]| 0.3379978471474704|  8.28753607390552|
|              [128]|     [229]|0.27771797631862216| 7.773855908211327|
|              [128]|      [91]|0.34230355220667386|10.666918802548512|
|              [128]|     [104]|   0.38751345532831| 7.764057338737584|
|              [128]|      [92]| 0.3153928955866523| 9.648273128034885|
|              [128]|     [122]|0.28955866523143164|10.190529013442811|
|              [128]|     [103]|0.35522066738428415| 8.102645331489093|
|              [128]|      [20]|0.30893433799784714| 5.273336007008722|
|         [203, 103]|      [67]| 0.6906666666666667|16.934796962025317|
|         [1220, 20]|     [104]| 0.7078651685393258|14.182490133092838|
|       [91, 92, 67]|     [108]| 0.6413301662707839|18.765591922555274|
|       [91, 92, 67]|     [110]| 0.5819477434679335|12.974862534612408|
|       [91, 92, 67]|     [104]| 0.7577197149643705| 15.18135495112313|
|       [91, 92, 67]|     [103]| 0.7197149643705463|16.416823770423022|
|       [91, 92, 67]|      [20]| 0.6437054631828979|10.987691491045123|
|       [91, 92, 67]|     [165]| 0.5843230403800475| 20.72998355563676|
+-------------------+----------+-------------------+------------------+
only showing top 20 rows

# transform memeriksa input item terhadap semua association rule dan merangkum konsekuen sebagai prediksi

In [41]:
model.transform(basket_data).show()
transformed = model.transform(basket_data)

+------------------+-----------------------+--------------------+
|SalesTransactionID|collect_list(SalesItem)|          prediction|
+------------------+-----------------------+--------------------+
|                 0|                    [0]|                  []|
|                 1|              [0, 1, 2]|                  []|
|                 2|                    [1]|                  []|
|                 3|                    [0]|                  []|
|                 4|                    [0]|                  []|
|                 5|                    [0]|                  []|
|                 6|                    [2]|                  []|
|                 7|                    [2]|                  []|
|                 8|                    [0]|                  []|
|                10|                 [1, 0]|                  []|
|                11|                    [0]|                  []|
|                12|                 [4, 3]|                  []|
|                13|                    [5]|                  []|
|                15|              [7, 8, 9]|[514, 110, 83, 67...|
|                16|   [17, 15, 16, 20, ...|[101, 104, 242, 1...|
|                17|                   [21]|                  []|
|                18|                   [22]|                  []|
|                19|   [33, 41, 27, 34, ...|                  []|
|                20|   [59, 50, 57, 60, ...|                  []|
|                21|                   [62]|                  []|
+------------------+-----------------------+--------------------+
only showing top 20 rows

# Mengubah Spark Dataframe menjadi Panda Dataframe menggunakan Arrow

In [42]:
result_pdf = items.select("*").toPandas()
result_pdf.head()

       items  freq
0      [257]   432
1       [20]  2837
2      [104]  2417
3  [104, 20]   981
4     [1491]   432

In [43]:
result_pdf.to_excel('result_pdfItemsFreq.xlsx')

In [48]:
rules_pdf = rules.select("*").toPandas()
rules_pdf.head()

            antecedent consequent  confidence       lift
0  [98, 312, 108, 104]      [103]    0.861736  19.656356
1                [128]      [156]    0.262648   9.791372
2                [128]      [108]    0.266954   7.811179
3                [128]      [110]    0.266954   5.951888
4                [128]       [67]    0.337998   8.287536

In [49]:
rules_pdf.to_excel('rules_pdfAnteConseConfLift.xlsx')

In [45]:
transformed_pdf = transformed.select("*").toPandas()
transformed_pdf.head()

   SalesTransactionID collect_list(SalesItem) prediction
0                   0                     [0]         []
1                   1               [0, 1, 2]         []
2                   2                     [1]         []
3                   3                     [0]         []
4                   4                     [0]         []

In [46]:
transformed_pdf.to_excel('transformed_pdfSalesTransactionIDCollectListPred.xlsx')